$grey50: hsl(265, 55%, 96%);
$grey100: hsl(265, 19%, 88%);
$grey200: hsl(265, 7%, 70%);
$grey300: hsl(265, 6%, 66%);
$grey400: hsl(265, 4%, 57%);
$grey500: hsl(265, 3%, 53%);
$grey600: hsl(265, 4%, 42%);
$grey700: hsl(265, 4%, 31%);
$grey800: hsl(276, 5%, 20%);
$grey900: hsl(280, 5%, 13%);

$colorPrimary50: #c8b3ce;
$colorPrimary100: #a07aaa;
$colorPrimary200: #884c97;
$colorPrimary300: #843897;
$colorPrimary400: #732392;
$colorPrimary500: #5a097a;
$colorPrimary600: #480264;
$colorPrimary700: #3d0264;

$colorSuccess100: #a2f0bc;
$colorSuccess500: #12bd4b;

$colorError100: #f1acc9;
$colorError500: #a10c4a;

$size1: 0.25rem;
$size2: 0.5rem;
$size3: 0.75rem;
$size4: 1rem;
$size5: 1.25rem;
$size6: 1.5rem;
$size8: 2rem;
$size16: 4rem;
$size20: 5rem;
$size40: 10rem;

:export {
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey400: $grey400;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey800: $grey800;
  grey900: $grey900;
  colorPrimary50: $colorPrimary50;
  colorPrimary100: $colorPrimary100;
  colorPrimary200: $colorPrimary200;
  colorPrimary300: $colorPrimary300;
  colorPrimary400: $colorPrimary400;
  colorPrimary500: $colorPrimary500;
  colorPrimary600: $colorPrimary600;
  colorPrimary700: $colorPrimary700;
  colorSuccess100: $colorSuccess100;
  colorSuccess500: $colorSuccess500;
  colorError100: $colorError100;
  colorError500: $colorError500;
  size1: $size1;
  size2: $size2;
  size3: $size3;
  size4: $size4;
  size5: $size5;
  size6: $size6;
  size8: $size8;
  size16: $size16;
  size20: $size20;
  size40: $size40;
}
